$white: #FFFFFF;
$black: #000000;
$light-gray: #ECF0F4;
$gray: #8D9295;
$silver-gray: #535658;
$dark-gray: #4C4E50;
$gold: #F1D264;
$light-gold: #ffd94e;
$dark-gold: #c9af51;
$red: #DB3737;
$blue: #5697D3;