.header {
  padding: 80px 0 40px 0;
}

.header__nav {
  width: 100%;
  min-height: 40px;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 25px; 
}

.header__item-link {
  padding-bottom: 4px;
  font-size: 24px;
  color: $silver-gray;
  border-bottom: 1px dashed $silver-gray;
}

.link-active {
  padding: 0;
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
  color: $black;
  border: none;
}