.card-wrapper {
  position: relative;
}

.swiper {
  width: 100%;
  min-height: 500px;
}

.swiper-button-wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.swiper-button-prev {
  left: -86px;
}

.swiper-button-next {
  right: -86px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: '';
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 2px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 14px;
}

.swiper-arrow-right {
  transform: rotate(180deg);
}

.swiper-img {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 2px;
  position: relative;
  border-radius: 2px;
  background: $black;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -5px;
  bottom: -10px;
  left: -5px;
}

.swiper-pagination-bullet-active {
  background: $gold;
  opacity: 1;
}

.card {
  width: 100%;
  max-width: 334px;
  min-height: 496px;
  position: relative;
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 5px;
}

.card__top-img {
  width: 100%;
  max-width: 334px;
  min-height: 334px;
  border-radius: 4px 4px 0 0;
}

.card__bottom {
  display: flex;
  min-height: 122px;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 25px 29px;
  text-align: center;
}

.card__product-name {
  font-size: 14px;
  line-height: 20px;
}

.card__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.card__old-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: line-through;
  color: $gray;
}